<div class="container">
    <h1>Adicionar Bons Jogadores</h1>
<form action="/players/addgoodplayer" method="POST" >
    <div class="form-control">

    
        <input type="text" name="goodplayer1" placeholder="Digite o primeiro jogador" />
        <input type="text" name="goodplayer2" placeholder="Digite o segundo jogador" />
        <input type="text" name="goodplayer3" placeholder="Digite o terceiro jogador" />
        <input type="text" name="goodplayer4" placeholder="Digite o quarto jogador" />
        <input type="text" name="goodplayer5" placeholder="Digite o quinto jogador" />
        <input type="text" name="goodplayer6" placeholder="Digite o sexto jogador" />
        <input type="text" name="goodplayer7" placeholder="Digite o setimo jogador" />
        <input type="text" name="goodplayer8" placeholder="Digite o oitavo jogador" />
    </div>
    <div class="actions">
        <input type="submit" value="Cadastrar" />
    </div>
    
</form>

</div>