<div class="container">
    <h1>Adicionar Jogadores Médios</h1>
<form action="/players/addmediumplayer" method="POST" >
    <div class="form-control">

    
        <input type="text" name="mediumplayer1" placeholder="Digite o primeiro jogador" />
        <input type="text" name="mediumplayer2" placeholder="Digite o segundo jogador" />
        <input type="text" name="mediumplayer3" placeholder="Digite o terceiro jogador" />
        <input type="text" name="mediumplayer4" placeholder="Digite o quarto jogador" />
        <input type="text" name="mediumplayer5" placeholder="Digite o quinto jogador" />
        <input type="text" name="mediumplayer6" placeholder="Digite o sexto jogador" />
        <input type="text" name="mediumplayer7" placeholder="Digite o setimo jogador" />
        <input type="text" name="mediumplayer8" placeholder="Digite o oitavo jogador" />
    </div>
    <div class="actions">
        <input type="submit" value="Cadastrar" />
    </div>
    
</form>

</div>