<div class="container">
    <h1>Adicionar Jogadores Ruins</h1>
<form action="/players/addbadplayer" method="POST" >
    <div class="form-control">

    
        <input type="text" name="badplayer1" placeholder="Digite o primeiro jogador" />
        <input type="text" name="badplayer2" placeholder="Digite o segundo jogador" />
        <input type="text" name="badplayer3" placeholder="Digite o terceiro jogador" />
        <input type="text" name="badplayer4" placeholder="Digite o quarto jogador" />
        <input type="text" name="badplayer5" placeholder="Digite o quinto jogador" />
        <input type="text" name="badplayer6" placeholder="Digite o sexto jogador" />
        <input type="text" name="badplayer7" placeholder="Digite o setimo jogador" />
        <input type="text" name="badplayer8" placeholder="Digite o oitavo jogador" />
    </div>
    <div class="actions">
        <input type="submit" value="Cadastrar" />
    </div>
    
</form>

</div>